{% extends 'base.html' %}

{% block content %}
<h1>Welcome to my projects</h1>

<h2>Projects</h2>

<div class="projects-list">

    <div class="project-card">
        <a href="" target="_blank">
            <img src="" alt="">
            <p>First Project Name</p>
            <p>description of first project</p>
            <p>YYYY</p>

            <div class="skills-container center-row">
                <label for="text-label">Skill</label>
                <label for="text-label">Skill</label>
                <label for="text-label">Skill</label>
            </div>
        </a>
    </div>
    
    <div class="project-card">
        <a href="" target="_blank">
            <img src="" alt="">
            <p>First Project Name</p>
            <p>description of first project</p>
            <p>YYYY</p>

            <div class="skills-container center-row">
                <label for="text-label">Skill</label>
                <label for="text-label">Skill</label>
                <label for="text-label">Skill</label>
            </div>
        </a>
    </div>

    <div class="project-card">
        <a href="" target="_blank">
            <img src="" alt="">
            <p>First Project Name</p>
            <p>description of first project</p>
            <p>YYYY</p>

            <div class="skills-container center-row">
                <label for="text-label">Skill</label>
                <label for="text-label">Skill</label>
                <label for="text-label">Skill</label>
            </div>
        </a>
    </div>



</div>    
{% endblock content %}